<!-- 组合小车底盘与摄像头 -->
<robot name="car" xmlns:xacro="http://wiki.ros.org/xacro">
    <xacro:include filename="head.xacro" />
    <xacro:include filename="base.xacro" />
    <xacro:include filename="camera.xacro" />
    <xacro:include filename="lidar.xacro" />
    <xacro:include filename="move.xacro" />
    <xacro:include filename="sensor_lidar.xacro" />
    <xacro:include filename="sensor_camera.xacro" />
    <xacro:include filename="sensor_kinect.xacro" />

</robot>
