body, html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Arial, sans-serif;
    background-image: url('image.jpeg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: #00FFC6; /* 科技感的亮青色 */
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    position: relative;
    padding: 10px;
}

.top-bar, .left-menu, .bottom-bar, .charts .chart {
    background: rgba(20, 20, 20, 0.9); /* 深色背景提高可读性 */
    border-radius: 15px;
    padding: 15px;
    margin-bottom: 10px;
    color: #00FFC6;
    font-size: 1.2em;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8); /* 增强文本清晰度 */
    border: 1px solid #00FFC6; /* 增加边框突出显示 */
}

.left-menu, .bottom-bar {
    position: absolute;
    z-index: 10;
}

.left-menu {
    top: 50px;
    left: 10px;
    width: 250px; /* 控制左侧菜单宽度 */
    transform: translateX(-100%); /* 初始隐藏 */
    opacity: 0; /* 初始透明度设置 */
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.bottom-bar {
    bottom: 10px;
    width: 100%; /* 使用100%宽度，以确保充分利用可用空间 */
    display: flex;
    flex-wrap: wrap; /* 内容自动换行 */
    align-items: center;
    justify-content: space-around; /* 分布均匀 */
    transform: translateY(0); /* 调整为可见 */
    opacity: 1; /* 调整为完全不透明 */
}

.data-item {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center; /* 居中显示各项数据 */
    gap: 10px; /* 调整间距 */
    font-size: 1.1em;
    margin: 5px 0; /* 调整上下边距 */
}

.data-item i {
    font-size: 1.5em;
}

.charts {
    position: absolute;
    top: 100px;
    right: 10px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    gap: 20px;
    opacity: 1; /* 确保图表完全可见 */
}

.chart {
    width: 320px;
    padding: 20px;
    border: 1px solid #00FFC6;
}

canvas {
    width: 100%;
    height: 220px;
    background-color: transparent;
    border-radius: 5px;
}

#gauge-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    flex-direction: column;
}

.gauge-description {
    color: #00FFC6;
    margin-bottom: 5px;
    font-size: 1.1em;
}

#temperature-gauge, #speedometer, #signal-strength-chart {
    width: 120px; /* 调整为更大的尺寸以提高可读性 */
    height: 120px;
    margin: 10px;
    background-color: transparent; /* 背景设为透明，去除不必要的样式 */
    border: 1px solid #00FFC6;
    border-radius: 60px; /* 圆形 */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* #temperature-gauge {
    background: linear-gradient(to bottom, #ff0000 0%, #ffff00 50%, #00ff00 100%);
}

#speedometer {
    background: linear-gradient(to right, #0000ff 0%, #00ff00 50%, #ff0000 100%);
}

#signal-strength-chart {
    background: linear-gradient(to top, #000 0%, #fff 100%);
} */
