<launch>
    <!-- 启动 gazebo -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find urdf2gazebo)/worlds/room.world" />
    </include>

    <group ns="robot1">
        <param name="robot_description" command="$(find xacro)/xacro $(find urdf2gazebo)/urdf/car.xacro" />
        <node pkg="gazebo_ros" type="spawn_model" name="spawn_model" args="-urdf -model car1 -param robot_description -x 0 -y 0 -z 0" />

        <include file="$(find navigation)/launch/slam-multi.launch">
            <arg name="ns" value="robot1" />
        </include>

        <include file="$(find navigation)/launch/path-multi.launch">
            <arg name="ns" value="robot1" />
        </include>
    </group>

    <group ns="robot2">
        <param name="robot_description" command="$(find xacro)/xacro $(find urdf2gazebo)/urdf/car.xacro" />
        <node pkg="gazebo_ros" type="spawn_model" name="spawn_model" args="-urdf -model car2 -param robot_description -x 1 -y 0 -z 0" />

        <include file="$(find navigation)/launch/slam-multi.launch">
            <arg name="ns" value="robot2" />
        </include>

        <include file="$(find navigation)/launch/path-multi.launch">
            <arg name="ns" value="robot2" />
        </include>
    </group>

    <!-- <group ns="robot3">
        <param name="robot_description" command="$(find xacro)/xacro $(find urdf2gazebo)/urdf/car.xacro" />
        <node pkg="gazebo_ros" type="spawn_model" name="spawn_model" args="-urdf -model car3 -param robot_description -x 2 -y 0 -z 0" />
    </group>

    <group ns="robot4">
        <param name="robot_description" command="$(find xacro)/xacro $(find urdf2gazebo)/urdf/car.xacro" />
        <node pkg="gazebo_ros" type="spawn_model" name="spawn_model" args="-urdf -model car4 -param robot_description -x 0 -y 1 -z 0" />
    </group>

    <group ns="robot5">
        <param name="robot_description" command="$(find xacro)/xacro $(find urdf2gazebo)/urdf/car.xacro" />
        <node pkg="gazebo_ros" type="spawn_model" name="spawn_model" args="-urdf -model car5 -param robot_description -x 1 -y 1 -z 0" />
    </group> -->



</launch>
