<launch>
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find navigation)/amcl.rviz"/>
    
    <include file="$(find navigation)/launch/mappub.launch" />

    <include file="$(find navigation)/launch/amcl.launch" />

</launch>
